<%# <html> %>
  <%# <head> %>
    <%# <title>musisian search</title> %>
  <%# </head> %>
  <%# <body> %>
    <% content_for :wikipedia do %>
    <div name="search">
      <h1>検索</h1>
      <% unless @title.empty? %>
        <div>
          <%== @wiki_content %>
        </div>
          <br />
          <div>
          <%== @wiki_link %>
          </div>
        <% end %>
      <div>
        <%= form_tag :action => 'get_wiki' do %>
          <%= text_field 'search_keys', 'name' %>
          <%= submit_tag "hoge" %>
        <% end %>
      </div>
    </div>
    <% end %>
  <%# </body> %>
<%# </html> %>
